/[Aa]ssets/AssetStoreTools*

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/
/[Mm]emoryCaptures/

[Aa]ssets/Plugins/Editor/JetBrains*
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svntmp

.DS_Store
Thumbs.db

.vs/
.idea/
.gradle/
ExportedObj/
.vsconfig

Crashlytics/

/Assets/Scripts/Player/StormWarriar/JMO Assets
/Assets/Scripts/Player/StormWarriar/Knight Files
/Assets/Scripts/Player/StormWarriar/Pixel Art